# Node modules
node_modules
.env

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file

# The development sqlite file
database/*.sqlite

# Banco de dadoss
backup_mysql/

# Arquivo chave AWS (amazon)
relatorio_horas_deploy.pem