<h2> Olá! {{ username }} </h2>
<p>
  Seu castro no Registro de horas foi efetuado com sucesso!
</p>
<p>Você pode acessar através do link: https://app.hatto.in com seu usário e senha cadastrados.</p>

<p>Obrigado por nos escolher! <3</p>